.page4Container {
    height: 100vh;
    display: flex;
    background-image: url('../Public/page4.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative;
    color: white;
    overflow: hidden; 
  }

    
.page4TextContainer {
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translateY(-50%);
  text-align: left; 
  opacity: 1; 
}
  
.page4Title {
  font-size: 50px;
  letter-spacing: 6px; 
}

.page4Subtitle {
  font-size: 18px;
  margin-bottom: 40px;
}

.page4Category {
  font-size: 18px;
  margin-top: 10px;
}

.page4CateList{
  margin-right: 40px;
  position: relative;
  cursor: pointer;
}
.page4CateList::after {
  content: '|';
  position: absolute;
  right: -20px; 
}

.page4CateList:last-child::after {
  content: '';
}