.page2Container {
  height: 100vh;
  display: flex;
  background-image: url('../Public/page2.jpg'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  position: relative;
  color: white;
  overflow: hidden; 
}

.page2TextContainer {
  position: absolute;
  top: 45%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left; 
  opacity: 1; 
}
  
.page2Title {
  font-size: 50px;
  letter-spacing: 4px; 
}

.page2Subtitle {
  font-size: 18px;
}

.page2Category {
  font-size: 18px;
  margin-top: 50px;
}

.page2CateList{
  margin-right: 40px;
  position: relative;
  cursor: pointer;
}

.page2CateList::after {
  content: '|';
  position: absolute;
  right: -20px;
}

.page2CateList:last-child::after {
  content: '';
}
